@import "reset.css";

body{
    background-color: #f6f9fc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.canvas{
    width: 800px;
    height: 800px;
    background-color: white;

    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.5); 
}
.controls{
    margin-top: 60px;
}
.controls .controls__range{
    margin-bottom: 50px;   
    display: flex;
    justify-content: center;
}

.controls .controls__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.controls__btns button{
    all: unset;
    cursor: pointer;
    padding: 5px 0;
    width: 80px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.5); 
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.controls__btns button:active{
    transform: scale(0.9);
}
.controls .controls__colors{
    display: flex;
}

.controls__colors .controls__color{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.5); 
}